.container-hs{
    width: 100vw;
    height: 70vh;
    background:linear-gradient(90deg, #F00222, #75489F);
    position: relative;
    overflow-x:auto;
}

.horario{
    position: relative;
    top: 20vh;
    left: 0vw;
    width: 70vw;
    height: 40vh;
    font-size: 40px;
    margin: auto;
    border-radius: 25px;
}

table, th, td, tr{
    box-sizing: border-box;
    border: 10px solid black;
    border-spacing: 0;
    text-align: center;
}
th:hover ,td:hover{
    background-color: #C44F4F;
}

.container-hs:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background:url(../img/wave3.png);
    background-size:cover;
    background-repeat:no-repeat;
    z-index: 0;
}

.container-hs h1{
    position: absolute;
    z-index: 100;

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    margin-top:0;
    left: -50px;
    font-size: 60px;
    top: 200px;
}